body {
    background-color:darkgray;
    display:flex;
    margin:0;
    height:100vh;
    flex-direction:column;
    align-items:center;
}

#menuBtn {
    padding:8px;
    align-self:flex-end;
}

.container {
    border:1px green solid;
    display:flex;
    flex-grow:1;
}

.mainContent {
    flex:4;
    transition:0.5s;
}

.mainContent-sidebar-open {
    margin-right:20%;
}

.sidebar {
    background-color:black;
    color:white;
    position:fixed;
    width:20%;
    height:100%;
    right:-250px;
    transition: right 0.5s;
}

.sidebar-open {
    right:0;
}